// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootswatch
@import 'bootswatch';

// Custom
body {
    font-size: 1.1rem !important;
}

.navbar-brand {
    font-size: 1.600rem;
    &:hover {
        color: $tertiary !important;
        //font-size: 1.7rem;
    }
}

.navbar-nav {
    font-size: medium;
}

#navbar-menu > ul > li > a {
    color: white;
    &:hover {
        color: $tertiary !important;
        font-size: 1.1rem;
    }
}
